/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 96%);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question {
    font-size: 20px;
    margin-bottom: 10px;
}
.options {
    list-style-type: none;
    padding: 0;
}
.option {
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    border: #000 solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.option:hover {
    background-color: aqua;
    box-shadow: 0;
}
.result {
    font-weight: bold;
    margin-top: 10px;
}
